<h1>Edit Topic</h1>
<%= render partial: 'form', locals: {risk: @risk, current_user_name: @current_user_name, current_user_id: @current_user_id, risk_impact: @risk_impact, risk_likelihood: @risk_likelihood, documents: @documents} %>
