<h1><%= document.title %><small>(Revision <%= get_document_version revision%>)</small></h1>
<%= link_to "Return to current document (revision #{get_document_version document})", document_path(document.id.to_i) %>
