
<!--div class="panel-heading">Audit Actions<%#= report.formatted_title %></div-->
<%#= render_options(report) %>
<%#= link_to 'Download CSV', formatted_dossier_report_path('csv', report), class: 'btn btn-primary' %>
<table class="table table-striped table-hover">
<thead>
  <tr>
    <% report.results.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% report.results.body.each do |row| %>
    <tr>
      <% row.each do |value| %>
        <td><%= raw value %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
<% if report.results.footers.any? %>
  <tfoot>
    <% report.results.footers.each do |row| %>
      <tr>
        <% row.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tfoot>
<% end %>
</table>


